<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="About Content">
            <h2>About us </h2>
            <p>ay kalam f ay hetta</p>
            <p>ay kalam f ay hetta</p>
            <p>ay kalam f ay hetta</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>