<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="About Content">
            <h2>About us </h2>
            <p>Manchester United Football Club is a professional football club based in Old Trafford, Greater Manchester, England, that competes in the Premier League, the top flight of English football. Manchester United are the most successful club in England and have won 20 league titles, which is more than any other team. They have also won 11 FA Cups and 3 European Cups.</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>