<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="Random Content">
            <h2>Random Facts</h2>
            <h3> Fact: <span style="font-weight: normal;"><%= fact[0].fact %></span></h3>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>